<h1>Send a message to your buddy!</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <%= render 'messages/form' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">

        <h3>Contacts</h3>

          <% @contacts.each do |contact| %>
          <% if can? :manage, contact %>
            <%= link_to contact.name, contact_path(contact) %>
            <% if current_user %>
              <p class="text" data-tonum="<%= contact.number %>" data-fromnum="<%= current_user.number %>"<em>Send Text</em></p> <br>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $("p.text").click(function() {
        $("input#message_to").val(this.getAttribute("data-tonum"));
        $("input#message_from").val(this.getAttribute("data-fromnum"));
      });
    });
  </script>
